@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss";

:root {
  --color-primary: #f4a300;
  --color-primary-hover: #d99200;

  --color-danger: #e11d48;
  --color-danger-hover: #be123c;

  --color-white: #ffffff;
}

body {
  font-family: "Barlow Condensed";
}

.card-hover {
  transition: all 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

/* globals.css */

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 20px 40px; /* more horizontal weight */
  font-size: 16px;
  font-weight: 400; /* bolder like screenshot */
  line-height: 1; /* prevents vertical misalignment */

  border-radius: 0 20px;
  border: none;
  cursor: pointer;

  color: #fff;
  white-space: nowrap;

  transition: all 0.25s ease;
}

/* Yellow button */
.btn-primary {
  background: var(--color-primary);
  color: #fff;
}

.btn-primary:hover {
  background: var(--color-primary-hover);
}

/* Red button */
.btn-danger {
  background: var(--color-danger);
  color: #fff;
}

.btn-danger:hover {
  background: var(--color-danger-hover);
}
